/**
 * Place your custom styles here.
 */

 body {
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

.navbar-default {
  background-color: #ffffff;
  border: none;
}

.page-header {
  border: none;
}

#block-block-11 p {
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

@media screen and (min-width: 768px) {
  #block-block-11 p {
    -webkit-columns: 2 40vw;
    -moz-columns: 2 40vw;
    columns: 2 40vw;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}
