/**
 * Place your custom styles here.
 */

 body {
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .logged-in .navbar.container {
   margin-top: 50px;
 }

.navbar-default {
  background-color: #ffffff;
  border: none;
}

.page-header {
  border: none;
}

.logo img {
  height: 75px;
}

#block-block-11 {
  margin-bottom: 2em;
}

.menu-block-12 .nav {
  display: flex;
  justify-content: flex-end;
}

.menu-block-12 .nav .leaf a {
  background-color: transparent;
}

#block-views-c21036b1145d7649720f6315a9a07cea {
  margin-bottom: 4em;
}
#views-exposed-form-nmma-collection-view-page-2 .views-exposed-widgets,
#boxes-box-nmma_search_form_3 #nmma-search-form > div {
  display: flex;
}

#edit-combine-wrapper label,
#boxes-box-nmma_search_form_3 .control-label {
  display: none;
}

#boxes-box-nmma_search_form_3 #nmma-search-form .form-type-textfield {
  flex: 1;
  margin: 0;
}

#views-exposed-form-nmma-collection-view-page-2 .views-exposed-widgets #edit-combine-wrapper,
#views-exposed-form-nmma-collection-view-page-2 .views-exposed-widgets #edit-keys-wrapper {
  flex-grow: 2;
  padding-right: 0;
}

#views-exposed-form-nmma-collection-view-page-2 .views-exposed-widgets .form-type-textfield .form-control,
#boxes-box-nmma_search_form_3 #nmma-search-form .form-type-textfield .form-control {
  border-radius: 4px 0 0 4px;
}

#views-exposed-form-nmma-collection-view-page-2 .views-exposed-form .views-exposed-widget,
#views-exposed-form-nmma-collection-view-page-2 .views-exposed-widgets .views-submit-button {
  padding: 0;
  float: unset;
}

#views-exposed-form-nmma-collection-view-page-2 .views-exposed-widgets .btn-primary,
#boxes-box-nmma_search_form_3 #nmma-search-form .btn-primary {
  color: #555;
  background-color: #ccc;
  border-color: #ccc;
}

#views-exposed-form-nmma-collection-view-page-2 .views-exposed-widgets .btn,
#boxes-box-nmma_search_form_3 .btn {
  border-radius: 0 4px 4px 0;
  margin-top: 0;
}

.view-display-id-the_collection_page .view-content {
  display: flex;
  flex-wrap: wrap;
}

.view-display-id-the_collection_page .view-content .views-row {
  flex-basis: 1 0 100%;
  margin-bottom: 3em;
  height: 450px;
}

@media screen and (min-width: 768px) {
  .view-display-id-the_collection_page .view-content .views-row {
    height: 450px;
    flex: 1 0 45%;
    margin-right: 5%;
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 1024px) {
  .view-display-id-the_collection_page .view-content .views-row {
    height: 450px;
    flex: 1 0 30%;
    margin-right: 3%;
    margin-bottom: 3em;
  }
}

.view-display-id-the_collection_page .view-content .views-row:nth-child(3n+3) {
  margin-right: 0;
}

.collection-image-mini {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collection-image-mini picture {
  height: 400px;
  width: 100%;
  display: flex;
}

.collection-image-mini img {
  margin: 0 auto;
  object-fit: contain;
}

.collection-image-mini .collection-image-mini-title {
  text-align: center;
}

.item-wrapper,
.node-nmma-collection-item-json {
  display: flex;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: solid #555 1px;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .item-wrapper,
  .node-nmma-collection-item-json {
    flex-wrap: nowrap;
  }
}


.item-wrapper>div,
.node-nmma-collection-item-json .group-left,
.node-nmma-collection-item-json .group-right {
  flex-basis: 100%;

}

@media screen and (min-width: 1024px) {
  .item-wrapper>div,
  .node-nmma-collection-item-json .group-left,
  .node-nmma-collection-item-json .group-right {
    flex-basis: 50%;

  }
}

.item-wrapper_text ul {
  padding: 1em;
  list-style: none;
}

.node-nmma-collection-item-json .group-left .field-name-field-full-title,
.item-wrapper_text ul li:first-child {
  font-size: 1.25em;
  font-weight: bold;
}

.item-wrapper_image {
  flex: 1;
}

#block-block-13 {
  float: right;
}

.navigation .region {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.mb-2 {
  margin-bottom: 2em;
}

.form-required {
  color: red;
}